html
  head
    title= title
    link(rel='stylesheet', href='main.css', type='text/css')
  body
    h1(class='nice'): a(href='/') GameSetMatch
    h5(class='nice'): a(href='https://www.kaggle.com/egrinstein/20-years-of-games/data') Data sourced from Kaggle